<div class="report-wrapper">
  <div class="report-card">
    <div class="desc">
      <p class="name">Funcionários</p>
      <p class="amount" id="employees">0</p>
    </div>
    <div class="icon">
      <i class="bx bx-group"></i>
    </div>
  </div>
  <div class="report-card">
    <div class="desc">
      <p class="name">Unidades</p>
      <p class="amount" id="units">0</p>
    </div>
    <div class="icon">
      <i class="bx bx-group"></i>
    </div>
  </div>
  <div class="report-card">
    <div class="desc">
      <p class="name">Usuários</p>
      <p class="amount" id="users">0</p>
    </div>
    <div class="icon">
      <i class="bx bx-group"></i>
    </div>
  </div>
</div>
<script src="/scripts/services/request.js"></script>
<script src="/scripts/services/update/reports.js"></script>