<div class="sidebar">
  <div class="logo">
    <img src="/images/logo.png" alt="Logo do Cemictana">
  </div>
  <div class="section-name">Menu de admistração</div>
  <div class="nav-links">
    <a href="./" class="option">
      <i class='bx bxs-home-alt-2'></i>
      Principal
    </a>
    <a href="./employee" class="option">
      <i class='bx bxs-group'></i>
      Funcionários
    </a>
    <a href="./responsible" class="option">
      <i class='bx bx-male-female'></i>
      Responsáveis
    </a>
    <a href="./unit" class="option">
      <i class='bx bxs-wallet-alt'></i>
      Unidades
    </a>
    <a href="./defunct" class="option">
      <i class='bx bxs-user-x'></i>
      Defuntos
    </a>
    <a href="./user" class="option">
      <i class='bx bxs-user'></i>
      Usuários
    </a>
  </div>
  <div class="section-name">Conta</div>
  <a href="./" class="option">
    <i class='bx bxs-cog'></i>
    Configurações da conta
  </a>
</div>