<div class="topbar">
  <div class="section-name"><%= sectionName %></div>
  <input type="text" placeholder="Pesquise">
  <div class="user-data">
    <img src="/images/profile-pq.png" alt="">
    <div class="hidden-box">
      <div class="nav-links">
        <a href="#" class="option">
          <i class='bx bx-user-circle'></i>
          Perfil
        </a>
        <a href="#" class="option">
          <i class='bx bx-help-circle'></i>
          Ajuda
        </a>
        <a href="./login" class="option" id="logout">
          <i class='bx bx-log-in-circle'></i>
          Sair
        </a>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/animations/topbar.js"></script>
<script src="/scripts/services/logout.js"></script>