<div class="report-wrapper">
  <div class="report-card">
    <div class="desc">
      <p class="name">Funcionários</p>
      <p class="amount">15</p>
    </div>
    <div class="icon">
      <i class="bx bx-group"></i>
    </div>
  </div>
  <div class="report-card">
    <div class="desc">
      <p class="name">Funcionários</p>
      <p class="amount">15</p>
    </div>
    <div class="icon">
      <i class="bx bx-group"></i>
    </div>
  </div>
  <div class="report-card">
    <div class="desc">
      <p class="name">Funcionários</p>
      <p class="amount">15</p>
    </div>
    <div class="icon">
      <i class="bx bx-group"></i>
    </div>
  </div>
</div>