<div class="topbar">
  <div class="section-name"><%= sectionName %></div>
  <input type="text" placeholder="Pesquise">
  <div class="user-data">
    <img src="../../assets/images/person photo.png" alt="">
    <div class="hidden-box">
      <div class="nav-links">
        <a href="../admin-login" class="option">
          <i class='bx bx-log-in-circle'></i>
          Sair
        </a>
      </div>
    </div>
  </div>
</div>
<script src="../../assets/scripts/inaractivity/topbar.js"></script>