<div class="topbar">
  <div class="section-name"><%= sectionName %></div>
  <input type="text" placeholder="Pesquise">
  <div class="user-data">
    <img src="../../assets/images/person photo.png" alt="">
  </div>
</div>