main {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: #F4F4F4;
}

.sidebar .logo img {
  width: 120px;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 8px 0;
  background-color: lightgray;
}

.section-name {
  margin-bottom: 10px;
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.nav-links .option,
.sidebar .option {
  width: 100%;
  min-width: max-content;
  margin: 5px 0;
  padding: 10px;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  border-radius: 3px;
  box-shadow: 1px 3px 1px lightgray;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main .topbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.main .topbar .section-name {
  margin-right: auto;
  font-size: 10pt;
  font-weight: bold;
  color: white;
}

.main .topbar input {
  height: fit-content;
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 2px;
  background-color: white;
}

.main .topbar .user-data img {
  width: 40px;
  height: 40px;
}

.main .report-wrapper {
  display: flex;
  width: 100%;
  height: 245px;
  padding: 20px;
  padding-top: 100px;
  gap: 20px;
  background-color: var(--secondary50);
}

.main .report-wrapper .report-card {
  display: flex;
  width: 250px;
  height: 125px;
  padding: 15px;
  border-radius: 3px;
  background-color: white;
}

.main .report-wrapper .report-card .desc .name {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

.main .report-wrapper .report-card .desc .amount {
  font-size: 60px;
  color: var(--secondary50);
  font-weight: bolder;
}

.main .report-wrapper .report-card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  color: white;
  font-size: 16pt;
  border-radius: 20px;
  background-color: var(--primary75);
}

.calendar-wrapper {
  padding: 20px;
}

.schedule-calendar {
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 10px 10px 0 0;
}

.schedule-calendar .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.schedule-calendar .header :is(.left-button, .right-button) {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.schedule-calendar .header :is(.left-button, .right-button):hover {
  background-color: #F4F4F4;
}

.schedule-calendar .header .date {
  display: flex;
}

.schedule-calendar .header .date :is(.month, .year) {
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 26px;
}

.schedule-calendar .header .date :is(.month, .year) .controls {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 12pt;
  cursor: pointer;
}

.schedule-calendar .days {
  width: 100%;
  display: flex;
}

.schedule-calendar .days .day {
  width: calc(100% / 7);
  padding: 10px;
  color: #333;
  font-size: 10pt;
  border: 1px solid #F4F4F4;
}

.schedule-calendar .monthdays {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  width: 100%;
}

.schedule-calendar .monthdays .monthday {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 20px;
  color: gray;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
}

.schedule-calendar .monthdays .monthday.current {
  background-color: white;
}

.schedule-calendar .monthdays .monthday .number {
  font-size: 9pt;
}

.schedule-calendar .monthdays .monthday.current {
  color: #333;
}