<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/partials/topbar.css">
  <link rel="stylesheet" href="/css/partials/report.css">
  <link rel="stylesheet" href="/css/partials/table.css">
  <link rel="stylesheet" href="/css/user/template.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Defuntos</title>
  <style>
    .nav .option:nth-child(2) {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <main>
    <div class="main">
      <div class="topbar">
        <div class="logo">
          <img src="/images/logo.png">
        </div>
        <div class="nav">
          <a href="./" class="option">Principal</a>
          <a href="./defunct" class="option">Defuntos</a>
        </div>
        <input type="text" placeholder="Pesquise">
        <div class="user-data">
          <img src="/images/profile-pq.png" alt="">
          <div class="hidden-box">
            <div class="nav-links">
              <a href="#" class="option">
                <i class='bx bx-user-circle'></i>
                Perfil
              </a>
              <a href="#" class="option">
                <i class='bx bx-help-circle'></i>
                Ajuda
              </a>
              <a href="../login" class="option" id="logout">
                <i class='bx bx-log-in-circle'></i>
                Sair
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="report-wrapper"></div>
      
      <%- include('../partials/data-table', {
        actionText: 'Adicionar defunto',
        data: []
      }) %>
    </div>
    <div id="add-form" class="form-wrapper">
      <div class="alert alert-danger" id="alert-danger">
        <div class="message"></div>
        <button class="close-btn">
          <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="alert alert-success" id="alert-success">
        <div class="message"></div>
        <button class="close-btn">
          <i class="bx bx-x"></i>
        </button>
      </div>
      <form class="form" id="form">
        <div class="header">
          <div class="title">
            <p class="highlight">
              Adicionar Defunto
            </p>
          </div>
          <button class="close bx bx-x" id="close-btn" data-relto="add-form" type="button"></button>
        </div>
        <div class="body">
          <div class="input-wrapper">
            <label for="name">Nome completo*</label>
            <input type="text" name="name" id="name">
          </div>
          <div class="input-wrapper">
            <label for="identification">Identificação*</label>
            <input type="text" name="identification" id="identification">
          </div>
          <div class="input-wrapper">
            <label for="bornDate">Data de nascimento*</label>
            <input type="date" name="bornDate" id="bornDate">
          </div>
          <div class="input-wrapper">
            <label for="deathDate">Data de morte*</label>
            <input type="date" name="deathDate" id="deathDate">
          </div>
          <div class="input-wrapper">
            <label for="deathCause">Causa da morte</label>
            <input type="text" name="deathCause" id="deathCause">
          </div>
          <div class="input-wrapper">
            <label for="image">Pedido de Sepultura</label>
            <input type="file" name="image" id="image">
          </div>
          <div class="input-wrapper">
            <label for="document">Boletim de Óbito</label>
            <input type="file" name="document" id="document">
          </div>
        </div>
        <div class="footer">
          <button class="save" type="submit">
            Salvar
          </button>
        </div>
      </form>
    </div>
  </main>
  <script src="/scripts/animations/topbar.js"></script>
  <script src="/scripts/animations/alert.js"></script>
  <script src="/scripts/services/error-messages.js"></script>
  <script src="/scripts/services/request.js"></script>
  <script src="/scripts/services/register/defunct.js"></script>
  <script src="/scripts/services/update/defunct-by-user.js"></script>
  <script src="/scripts/services/logout.js"></script>
</body>
</html>