main {
  display: flex;
  min-height: 100vh;
}

.nav-links .option:nth-child(1) {
  color: var(--secondary75);
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.calendar-wrapper {
  padding: 20px;
}

.schedule-calendar {
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 10px 10px 0 0;
}

.schedule-calendar .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.schedule-calendar .header :is(.left-button, .right-button) {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.schedule-calendar .header :is(.left-button, .right-button):hover {
  background-color: #F4F4F4;
}

.schedule-calendar .header .date {
  display: flex;
}

.schedule-calendar .header .date :is(.month, .year) {
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 26px;
}

.schedule-calendar .header .date :is(.month, .year) .controls {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 12pt;
  cursor: pointer;
}

.schedule-calendar .days {
  width: 100%;
  display: flex;
}

.schedule-calendar .days .day {
  width: calc(100% / 7);
  padding: 10px;
  color: #333;
  font-size: 10pt;
  border: 1px solid #F4F4F4;
}

.schedule-calendar .monthdays {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  width: 100%;
}

.schedule-calendar .monthdays .monthday {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  padding: 20px;
  color: gray;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
  overflow-y: auto;
}

.schedule-calendar .monthdays .monthday .event {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  text-transform: capitalize;
  border-radius: 20px;
  cursor: pointer;
}

.schedule-calendar .monthdays .monthday .event.sepultamento {
  background-color: red;
}

.schedule-calendar .monthdays .monthday .event.exumação {
  background-color: gray;
}

.schedule-calendar .monthdays .monthday .event.translado {
  background-color: green;
}

.schedule-calendar .monthdays .monthday.current {
  background-color: white;
}

.schedule-calendar .monthdays .monthday .number {
  font-size: 9pt;
}

.schedule-calendar .monthdays .monthday.current {
  color: #333;
}

/* form */
.form-wrapper .form {
  width: 1000px;
}
.form .body {
  display: flex;
}

.form .body .fields {
  width: 450px;
  padding-right: 10px;
}

.form .body .images {
  padding: 20px;
  width: 550px;
  overflow-y: auto;
  border-left: 1px solid lightgray;
}

.form .body .images img {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

.form .body .images h4 {
  margin-bottom: 10px;
}